* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/* Navigation Bar */
.nav-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 8vh;
    background-color: #043082;
}
.logo-brand {
    display: flex;
    text-decoration: none;
}
.get {
    color: white;
    font-size: 1rem;
}
.rooms {
    color: #349ffa;
}
.nav-list ul {
    display: flex;
    list-style-type: none;
}
.nav-list ul .link {
    margin: 0 5px;
    text-decoration: none;
    font-size: 0.8rem;
    color: white;
    text-transform: uppercase;
}
.login {
    display: flex;
    color: white;
}
.login a {
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
}
.line {
    margin: 0 5px;
}
@media only screen and (min-width: 414px) {
    .nav-bar {
        justify-content: space-between;
        padding: 0 50px;
    }
    .nav-list ul li {
        margin: 0 15px;
    }
}

/* Banner */
.banner {
    width: 100%;
    background: url("./images/mainbanner.jpg") center/cover no-repeat;
    display: flex;
    height: 20vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    text-shadow: 0px 0px 7px rgb(141, 141, 141);
    text-decoration: underline;
}
.banner button {
    width: 100px;
    border: unset;
    color: white;
    background-color: #154aad;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 15px 0;
    font-size: 12px;
}
@media only screen and (min-width: 414px) {
    .banner {
        height: 30vh;
        font-size: 2.5rem;
    }
    .banner button {
        margin: 25px 0;
    }
}

/* Title */
.title {
    width: 100%;
    margin: 20px 0;
    text-align: center;
    font-size: 1.5rem;
}
.title-dash {
    background-color: #154aad;
    height: 5px;
    width: 200px;
    margin: 10px auto;
    border-radius: 5px;
}

/* Display recommended rooms */
.recommend {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.recommend h2 {
    margin: 20px auto;
}
.roomCard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.roomcard {
    width: 85%;
    max-width: 240px;
    height: 300px;
    margin: 15px auto;
    overflow: hidden;
    box-shadow: 1px 1px 2px black;
    border-radius: 5px;
    animation: fadeIn ease 1.5s;
    transition: all linear 0.2s;
}
.roomcard:hover{
    box-shadow: 1px 1px 10px black;
}
@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
.imageCard {
    width: 100%;
    height: 75%;
    overflow: hidden;
}.imageCard img {
    width: 300px;
    height: 255px;
}
.roomcard-link {
    text-decoration: none;
    color: black;
}
.room-info {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    flex-direction: column;
    margin: 20px auto;
}
.description-detail {
    margin: 10px 0;
}
.description-detail p {
    margin: 10px 0;
}
.feature ul {
    margin: 10px 20px;
}
.feature ul li {
    margin: 10px 0;
}
.txt {
    width: 80%;
    margin: 10px auto;
}
.txt p {
    font-size: 0.8rem;
}
.button-singleroom {
    width: 100%;
    text-align: center;
}
.button-singleroom button {
    width: 100px;
    border: unset;
    color: white;
    background-color: #154aad;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 25px auto;
    font-size: 12px;
}
@media only screen and (min-width: 420px) {
    .roomCard-container {
        flex-direction: row;
        min-width: 720px;
    }
    .room-info {
        width: 80%;
        flex-direction: row;
    }
    .description {
        width: 100%;
    }
    .room-detail {
        width: 80%;
    }
}

/* service */
.service {
    width: 100%;
    margin: 10px auto 0 auto;
    display: flex;
    flex-direction: column;
}
.service h2 {
    margin: 20px auto;
}
.service-container {
    display: flex;
    justify-content: space-evenly;
    background-color: #043082;
    color: white;
}
.service-item {
    max-width: 180px;
    margin: 0 10px;
    text-align: center;
}
.service-item h2 {
    font-size: 0.8rem;
}
.service-item p {
    display: none;
}
@media only screen and (min-width: 420px) {
    .service {
        min-width: 811px;
    }
    .service-item h2 {
        font-size: 1rem; 
    }
    .service-item p {
        display: block;
        margin-bottom: 30px;
    }
    .service-container {
        flex-wrap: wrap;
    }
}
/* room container */
.room-fil-n-list {
    background-image: url("./images/mainbanner.jpg") center/cover no-repeat;
}

/* room list */
.roomlist{
    display: flex;
    flex-direction: column;
}
@media only screen and (min-width: 420px) {
    .roomlist{
        width: 80%;
        max-width: 923px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 20px auto;
    }
}

/* Room filter */
section {
    width: 100%;
    text-align: center;
}
.formfilter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    max-width: 500px;
    padding: 45px 0;
    margin: 0 auto;
    border-radius: 5px;
    height: 10vh;
    box-shadow: 0 0 2px black;
}
.roomtype {
    display: flex;
    flex-direction: column;
}
.capacity {
    display: flex;
    flex-direction: column;
}
.breakfast {
    display: flex;
    flex-direction: column;
}
label {
    margin: 0 0 10px 0;
}
section .submitInput {
    width: 100px;
    border: unset;
    color: white;
    background-color: #154aad;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 20px 0 0 0;
    font-size: 12px;
}

/* react icons */
.react-icons {
    margin: 35px 0 15px 0;
}

/* Individual Room */
.display-img {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.display-img img {
    width: 80%;
    margin: 10px 0;
}
@media only screen and (min-width: 420px) {
    .display-img {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        overflow: hidden;
    }
    .display-img img {
        width: 20%;
        max-width: 300px;
        height: 200px;
        margin: 10px 0;
    }
}

/* about Room */
.about {
    position: relative;
    margin: 20px 0;
}
.about img {
    width: 100%;
    filter: contrast(30%);
}
.about h1 {
    display: none;
}
.about p {
    position: absolute;
    top: 25%;
    color: white;
    left: 20px;
}

@media only screen and (min-width: 420px) {
    .about {
        min-width: 811px;
        height: 500px;
        overflow: hidden;
    }
    .about h1 {
        display: block;
        position: absolute;
        top: 38%;
        left: 100px;
        font-size: 4rem;
        text-decoration: underline;
        color: white;
    }
    .about p {
        left: unset;
        width: 50%;
        right: 10px;
        top: 45%;
    }
}

/* footer */
footer {
    background-color: rgb(18, 18, 22);
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
footer p {
    margin: 10px 0;
    margin-left: 40px;
}
.test-image{
    width: 100%;
}
.contact {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
}
.contact .home, .room {
    margin: 10px 0;
    text-decoration: none;
    color: white;
    transition: all linear 0.3s;
}
.contact .home:hover {
    color:#349ffa;
}
.contact .room:hover {
    color: #349ffa;
}
.footer-logo {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}
.footer-logo h2 {
    font-size: 2rem;
}
.hotel {
    color: #349ffa;
}
@media only screen and (min-width: 420px) {
    footer {
        flex-direction: row;
    }
    .footer-logo {
        width: 10%;
        margin: auto 0;
    }
}
